@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-\[marquee_15s_linear_infinite\] {
  animation: marquee 15s linear infinite;
}
